<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/about-banner.jpg" alt="">
    </section>
    <section class="about">
      <ul class="about-tabs">
        <li class="about-tab active">
          <a href="/about.html">关于我们</a>
        </li>
        <li class="about-tab">
          <a href="/honor.html">荣誉资质</a>
        </li>
      </ul>
      <div class="about-info1">
        <div class="info-title">
          <h1 class="cn">关于我们</h1>
          <h2 class="en">About us</h2>
        </div>
        <div class="content">
          <p>上海星秒科技成立于2016年，专注于激光雷达相关的技术和产品研发，目前已推出多款TOF激光雷达产品，服务于广大的人工智能领域客户。</p>
          <p>
            同时，星秒是国内首批专注于高精度时间分析设备和灵敏测量设备的科技公司，我们提供先进的时间分辨技术，用于解决激光雷达和分布式光纤传感应用的高精度距离测量、生物荧光寿命测量和质谱分析等工业应用。同时为科研用户在量子光学、光谱学、生物发光和纳米材料等研究领域提供优质的灵敏光电检测和时间测量设备。
          </p>
          <p>
            我们帮助客户在高质量的产品、定制化的系统集成和优良的成本控制间寻找到绝佳的平衡点，并且用专业诚意的服务让客户的竞争力获得可预见的持续性改善。
          </p>
          <p>
            我们坚持科技创新，并将客户的成功放在首位，未来将凭借专业的知识和不断丰富的产品组合，与客户共同进步。
          </p>
        </div>
      </div>
      <div class="about-info2" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/public/img/history.png);">
        <div class="info-title">
          <h1 class="cn">发展历程</h1>
          <h2 class="en">History</h2>
        </div>
        <ul class="history-list">
          <li class="history-item clearF">
            <dl>
              <dt class="date">2020</dt>
              <dd>待续</dd>
            </dl>
          </li>
          <li class="history-item clearF">
            <dl>
              <dt class="date">2019</dt>
              <dd>激光雷达量产交付</dd>
              <dd>避障型雷达推出</dd>
              <dd>第三代TDC产品发布</dd>
              <dd>高新技术企业认定</dd>
              <dd>汽车科技新锐企业</dd>
              <dd>累计客户超过300家</dd>
              <dd>PreA轮融资</dd>
            </dl>
          </li>
          <li class="history-item clearF">
            <dl>
              <dt class="date">2018</dt>
              <dd>激光雷达产品量产交付</dd>
              <dd>完成千万级天使轮融资</dd>
              <dd>发布光子探测系列产品</dd>
            </dl>
          </li>
          <li class="history-item clearF">
            <dl>
              <dt class="date">2017</dt>
              <dd>发布全球首台时间测量工作站并于3月交付首台产品</dd>
              <dd>激光雷达项目启动，完成样机研发</dd>
              <dd>获种子轮融资</dd>
            </dl>
          </li>
          <li class="history-item clearF">
            <dl>
              <dt class="date">2016</dt>
              <dd>于上海成立</dd>
              <dd>推出时间测量系列产品</dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="about-info3">
        <div class="info-title">
          <h1 class="cn">使命</h1>
          <h2 class="en">Mission</h2>
        </div>
        <div class="note">
          以更精确的测量，推动科技进步
        </div>
      </div>
      <div class="about-info3">
        <div class="info-title">
          <h1 class="cn">愿景</h1>
          <h2 class="en">Vision</h2>
        </div>
        <div class="note">
          以更精确的测量，推动科技进步
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>