<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/surport-banner.png" alt="">
    </section>
    <section class="surport">
      <ul class="surport-tabs">
        <li class="surport-tab">
          <a href="/surport_list.html">星秒课堂</a>
        </li>
        <li class="surport-tab">
          <a href="/surport_list.html">常见问题</a>
        </li>
        <li class="surport-tab active">
          <a href="/download_list.html">下载中心</a>
        </li>
      </ul>
      <ul class="download-list">
        <li class="download-item">
          <div class="title">
            <div class="img">
              <img src="/public/img/download01.png" alt="导航型激光雷达PAVO相关下载">
            </div>
            <div class="text">导航型激光雷达PAVO相关下载</div>
          </div>
          <ul class="download-sublist">
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO DATASHEET.pdf</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO用户手册.pdf</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO三维尺寸模型图(STEP).zip</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO软件包.zip</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO售后支持手册.pdf</a>
            </li>
          </ul>
        </li>
        <li class="download-item">
          <div class="title">
            <div class="img">
              <img src="/public/img/download01.png" alt="导航型激光雷达PAVO相关下载">
            </div>
            <div class="text">导航型激光雷达PAVO相关下载</div>
          </div>
          <ul class="download-sublist">
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO DATASHEET.pdf</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO用户手册.pdf</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO三维尺寸模型图(STEP).zip</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO软件包.zip</a>
            </li>
            <li class="download-subitem">
              <a href="">
                <i class="iconfont icon-xiazai"></i>
                PAVO售后支持手册.pdf</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>