<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/pro_banner.png" alt="">
    </section>
    <section class="product">
      <ul class="product-tabs">
        <li class="product-tab active">
          <a href="">FT系列</a>
        </li>
        <li class="product-tab">
          <a href="">MT系列</a>
        </li>
      </ul>
      <div class="product-cont">
        <div class="cont-banner">
          <img src="/public/img/pro-banner.png" alt="">
        </div>
        <div class="pro-name">
          <div class="pro-note">多通道高精度时间测量工作站</div>
          <div class="pro-model">MT6420</div>
        </div>
        <div class="pro-info1">
          <div class="info-title">
            <h1 class="cn">产品特色</h1>
            <h2 class="en">Features</h2>
          </div>
          <ul class="pro-info1-list">
            <li class="pro-info1-item">
              <div class="img" style="background-image: url(/public//img/pro-info1.png);"></div>
              <div class="text">
                <h3 class="title">插卡式设计</h3>
                <div class="note">MT6420采用主机+板卡的设计，方便客户进行通道扩展，设计上保证了板卡的即插即用和自动识别，配置灵活。</div>
              </div>
            </li>
            <li class="pro-info1-item">
              <div class="img" style="background-image: url(/public//img/pro-info2.png);"></div>
              <div class="text">
                <h3 class="title">卓越的通道性能</h3>
                <div class="note">时间即使在超高集成度下，MT6420依然保持了每个独立时间测量通道的良好特性，最高时间分辨率64ps，最高饱和计数率20Mcps，死时间＜50ns。</div>
              </div>
            </li>
            <li class="pro-info1-item">
              <div class="img" style="background-image: url(/public//img/pro-info3.png);"></div>
              <div class="text">
                <h3 class="title">光子关联模式</h3>
                <div class="note">MT6420的配套软件涵盖了FT系列的大部分功能，如直方图，通道控制，强度监控等。同时也提供多平台的SDK软件开发包。</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="pro-info2">
          <div class="info-title">
            <h1 class="cn">软件</h1>
            <h2 class="en">Software</h2>
          </div>
          <div class="content">
            <div class="note">
              FT系列产品提供功能强大的应用和数据处理软件，包含了直方图模式、强度监测、时间标签和符合模式等功能。同时还提供C++、Matlab和Labview等平台的数据解析工具，以及用于二次开发的SDK软件包。
            </div>
            <img src="/public/img/software.png" alt="">
          </div>
        </div>
        <div class="pro-info3">
          <div class="info-title">
            <h1 class="cn">应用</h1>
            <h2 class="en">Application</h2>
          </div>
          <div class="content">
            <ul>
              <li>荧光寿命测量</li>
              <li>荧光相关光谱（FCS）</li>
              <li>飞行时间测量（TOF）</li>
              <li>量子光学</li>
              <li>相干检测</li>
              <li>材料分析</li>
            </ul>
            <img src="/public/img/application.png" alt="">
          </div>
        </div>
        <div class="pro-info4">
          <div class="info-title">
            <h1 class="cn">下载</h1>
            <h2 class="en">Download</h2>
          </div>
          <ul class="download-list">
            <li class="download-item">
              <a href="">单通道手册链接FT1010</a>
            </li>
            <li class="download-item">
              <a href="">四通道手册链接FT1040</a>
            </li>
            <li class="download-item">
              <a href="">八通道手册链接FT1080</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>