<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="news-content">
    <h1 class="title">星秒科技通过ISO9001体系认证</h1>
    <div class="date">
      创建时间：2020-10-22 16:15:07
    </div>
    <div class="main-cont">
      <p>
        质量管理体系认证，此次认证标志着公司生产、设计及销售管理迈上了新台阶，已步入规范化、国际化、标准化的现代企业管理轨道。
      </p>
    </div>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>