<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/partner.png" alt="">
    </section>
    <section class="select">
      <h1 class="title-module">为什么选择星秒？</h1>
      <ul class="select-list">
        <li class="select-item">
          <div class="img" style="background-image: url(/public/img/par01.png);"></div>
          <div class="title">一流品质</div>
          <div class="note">星秒产品获得多项资质认证，拥有系列自主知识产权，以ISO管理体系把控生产品质。我们相信高品质才能造就好品牌。</div>
        </li>
        <li class="select-item">
          <div class="img" style="background-image: url(/public/img/par01.png);"></div>
          <div class="title">一流品质</div>
          <div class="note">星秒产品获得多项资质认证，拥有系列自主知识产权，以ISO管理体系把控生产品质。我们相信高品质才能造就好品牌。</div>
        </li>
        <li class="select-item">
          <div class="img" style="background-image: url(/public/img/par01.png);"></div>
          <div class="title">一流品质</div>
          <div class="note">星秒产品获得多项资质认证，拥有系列自主知识产权，以ISO管理体系把控生产品质。我们相信高品质才能造就好品牌。</div>
        </li>
        <li class="select-item">
          <div class="img" style="background-image: url(/public/img/par01.png);"></div>
          <div class="title">一流品质</div>
          <div class="note">星秒产品获得多项资质认证，拥有系列自主知识产权，以ISO管理体系把控生产品质。我们相信高品质才能造就好品牌。</div>
        </li>
      </ul>
    </section>
    <section class="agent">
      <h1 class="title-module">代理商扶持</h1>
      <ul class="agent-list">
        <li class="agent-item">
          <div class="img" style="background-image: url(/public/img/agent.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
        <li class="agent-item">
          <div class="img" style="background-image: url(/public/img/agent.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
        <li class="agent-item">
          <div class="img" style="background-image: url(/public/img/agent.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
        <li class="agent-item">
          <div class="img" style="background-image: url(/public/img/agent.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
      </ul>
    </section>
    <section class="expect">
      <h1 class="title-module">我们期待这样的伙伴</h1>
      <ul class="expect-list">
        <li class="expect-item">
          <div class="img" style="background-image: url(/public/img/expect.png);"></div>
          <div class="text">
            <div class="title">有资质</div>
            <div class="note">具有合法营业执照和独立法人代表，有良好的商业信誉和口碑</div>
          </div>
        </li>
        <li class="expect-item">
          <div class="img" style="background-image: url(/public/img/expect.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
        <li class="expect-item">
          <div class="img" style="background-image: url(/public/img/expect.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
        <li class="expect-item">
          <div class="img" style="background-image: url(/public/img/expect.png);"></div>
          <div class="text">
            <div class="title">培训</div>
            <div class="note">星秒定期对代理商提供培训支持，内容涉及产品、方案、销售、售后等，快速提高代理商团队的业务能力，打造核心竞争力。</div>
          </div>
        </li>
      </ul>
    </section>
    <section class="tel">
      <div class="text">
        代理商申请资讯电话<br>
        021-54391007
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>