<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-content">
    <img src="/public/img/job1.png" alt="">
    <img src="/public/img/job2.png" alt="">
  </section>
  <section class="jobs">
    <div class="info-title">
      <h1 class="cn">招聘信息</h1>
      <h2 class="en">Jobs</h2>
    </div>
    <ul class="jobs-list">
      <li class="job-item">
        <div class="title">
          <span>FPGA工程师</span>
          <i class="iconfont icon-shuangxiajiantou-"></i>
        </div>
        <div class="more-info">
          <dl class="info">
            <dt>岗位职责：</dt>
            <dd>
              <p>1.已有产品FPGA代码的维护与升级</p>
              <p>2.基于FPGA的单板器件选型、设计以及原理图review</p>
              <p>3.VHDL/Verilog代码的编写、仿真与调试</p>
              <p>4.对设计模块进行时序分析、资源优化</p>
              <p>5.常见的接口逻辑、总线等模块的设计与调试</p>
            </dd>
          </dl>
          <dl class="info">
            <dt>任职要求：</dt>
            <dd>
              <p>1.本科以上学历，从事FPGA开发2年以上，电子或通信类相关专业。</p>
              <p>2.熟练掌握VHDL/Verilog等语言，运用Quartus/Ise、ModelSim等常见的设计、仿真工具。</p>
              <p>3.熟悉Altera等公司各系列FPGA芯片；有丰富的FPGA设计、编码、仿真、调试经验。</p>
              <p>4.熟悉常用的高速接口设计与调试。</p>
            </dd>
          </dl>
        </div>
      </li>
      <li class="job-item">
        <div class="title">
          <span>FPGA工程师</span>
          <i class="iconfont icon-shuangxiajiantou-"></i>
        </div>
        <div class="more-info">
          <dl class="info">
            <dt>岗位职责：</dt>
            <dd>
              <p>1.已有产品FPGA代码的维护与升级</p>
              <p>2.基于FPGA的单板器件选型、设计以及原理图review</p>
              <p>3.VHDL/Verilog代码的编写、仿真与调试</p>
              <p>4.对设计模块进行时序分析、资源优化</p>
              <p>5.常见的接口逻辑、总线等模块的设计与调试</p>
            </dd>
          </dl>
          <dl class="info">
            <dt>任职要求：</dt>
            <dd>
              <p>1.本科以上学历，从事FPGA开发2年以上，电子或通信类相关专业。</p>
              <p>2.熟练掌握VHDL/Verilog等语言，运用Quartus/Ise、ModelSim等常见的设计、仿真工具。</p>
              <p>3.熟悉Altera等公司各系列FPGA芯片；有丰富的FPGA设计、编码、仿真、调试经验。</p>
              <p>4.熟悉常用的高速接口设计与调试。</p>
            </dd>
          </dl>
        </div>
      </li>
      <li class="job-item">
        <div class="title">
          <span>FPGA工程师</span>
          <i class="iconfont icon-shuangxiajiantou-"></i>
        </div>
        <div class="more-info">
          <dl class="info">
            <dt>岗位职责：</dt>
            <dd>
              <p>1.已有产品FPGA代码的维护与升级</p>
              <p>2.基于FPGA的单板器件选型、设计以及原理图review</p>
              <p>3.VHDL/Verilog代码的编写、仿真与调试</p>
              <p>4.对设计模块进行时序分析、资源优化</p>
              <p>5.常见的接口逻辑、总线等模块的设计与调试</p>
            </dd>
          </dl>
          <dl class="info">
            <dt>任职要求：</dt>
            <dd>
              <p>1.本科以上学历，从事FPGA开发2年以上，电子或通信类相关专业。</p>
              <p>2.熟练掌握VHDL/Verilog等语言，运用Quartus/Ise、ModelSim等常见的设计、仿真工具。</p>
              <p>3.熟悉Altera等公司各系列FPGA芯片；有丰富的FPGA设计、编码、仿真、调试经验。</p>
              <p>4.熟悉常用的高速接口设计与调试。</p>
            </dd>
          </dl>
        </div>
      </li>
    </ul>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>